html {
	background-color: #2d2d2d;
	font-family: "Segoe UI", Arial, sans-serif;
}
.title {
	color: #ffffff;
	text-align: center;
}
.subtitle {
	color: #ffffff;
	text-align: center;
}
p {
	color: white;
}
.searchbutton {
  color: white;
  border: #4d4d4d solid 2px;
  border-radius: 5px;
  background-color: #3d3d3d
}
.honeycrispbutton {
  color: white
}
