html {
	background-color: #2d2d2d;
	font-family: "Segoe UI", Arial, sans-serif;
}
.title {
	color: #ffffff;
	text-align: center;
}
.subtitle {
	color: #ffffff;
	text-align: center;
}
p {
	color: white;
}
.searchbutton {
  color: white;
  font-size: 15px;
  border: #2d2d2d solid 2px;
  border-radius: 5px;
  background-color: #3d3d3d;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
}
.honeycrispbutton {
  color: white;
  font-size: 15px;
  border: #2d2d2d solid 2px;
  border-radius: 5px;
  background-color: #3d3d3d;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
}
