html {
	background-color: #2d2d2d;
	font-family: "Segoe UI", Arial, sans-serif;
	color: #ffffff;
}
.title {
	color: #ffffff;
	text-align: center;
}
.subtitle {
	color: #ffffff;
	text-align: center;
}
