html {
    background-color: #2d2d2d;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    text-align: center;
}

.post {
    text-align: center;
    background-color: #282828;
    border: solid #323232 2px;
    border-radius: 7px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    height: 35%;
}

.post-title {
    text-align: left;
    margin-left: 2.5%;
    margin-top: 2.5%;
    size: 20px;
    font-weight: 600;
}

.post-handle {
    text-align: right;
    /* margin-top: 2.5%; */
    margin-right: 2.5%;
    text-decoration: underline;
    color: #00b7ff;
}

.post-img {
    border: solid #141414 2px;
    border-radius: 7px;
}

.post-question {
    text-align: left;
    margin-left: 2.5%;
}
.post-answer {
    text-align: right;
    margin-right: 2.5%;
}

.buttons {
    border: solid #484848 3px;
    background-color: #383838;
    color: white;
    border-radius: 4px;
    width: 50px;
    float: right;
}

.danger-warning {
    background-color: #E40000;
    border: solid #C60000 3px;
    border-radius: 7px;
    width: 75%;
    height: 10%;
    margin-left: 25px;
}

.warning-img {
    border: solid #C60000 2px;
    border-radius: 7px;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #ffffff;
    text-decoration: underline;
}

#secret {
    float: left;
}
